URL/.$bin/urlUrl.UrlAdapterExample.UrlAdapterExample/repository/wsdl/URLService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:stns1="urn:Services.URLService.Classes"
                  xmlns:tns="urn:URLService"
                  xmlns:http="http://schemas.xmlsoap.org/soap/http"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  name="URLService"
                  targetNamespace="urn:URLService">
   <wsdl:types>
      <xs:schema targetNamespace="urn:Services.URLService.Classes">
         <xs:complexType name="Address">
            <xs:sequence>
               <xs:element name="id" type="xs:string"/>
               <xs:element name="street" type="xs:string"/>
               <xs:element name="city" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Address2Example1">
            <xs:sequence>
               <xs:element name="id" type="xs:string"/>
               <xs:element minOccurs="0" name="street" type="stns1:StreetElement"/>
               <xs:element minOccurs="0" name="city" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="StreetElement">
            <xs:sequence>
               <xs:element name="id" type="xs:string"/>
               <xs:element name="text_value" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Address2Example2">
            <xs:sequence>
               <xs:element name="street" type="stns1:StreetElement"/>
               <xs:element name="city" type="xs:string"/>
               <xs:element name="id" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="URLPortType_staticGet_Request"/>
   <wsdl:message name="URLPortType_staticGet_Response">
      <wsdl:part name="outputString" type="xs:string"/>
   </wsdl:message>
   <wsdl:message name="URLPortType_staticPost_Request"/>
   <wsdl:message name="URLPortType_staticPost_Response">
      <wsdl:part name="outputString" type="xs:string"/>
   </wsdl:message>
   <wsdl:message name="URLPortType_fullDynamicGET_Request"/>
   <wsdl:message name="URLPortType_fullDynamicGET_Response">
      <wsdl:part name="outputString" type="xs:string"/>
   </wsdl:message>
   <wsdl:message name="URLPortType_postXMLFile_Request"/>
   <wsdl:message name="URLPortType_postXMLFile_Response"/>
   <wsdl:message name="URLPortType_dynamicReadFile_Request">
      <wsdl:part name="inputFile" type="xs:string"/>
   </wsdl:message>
   <wsdl:message name="URLPortType_dynamicReadFile_Response">
      <wsdl:part name="outputString" type="xs:string"/>
   </wsdl:message>
   <wsdl:message name="URLPortType_dynamicWriteFile_Request">
      <wsdl:part name="contentString" type="xs:string"/>
      <wsdl:part name="outputFile" type="xs:string"/>
   </wsdl:message>
   <wsdl:message name="URLPortType_dynamicWriteFile_Response">
      <wsdl:part name="outputString" type="xs:string"/>
   </wsdl:message>
   <wsdl:message name="URLPortType_getXML_Request"/>
   <wsdl:message name="URLPortType_getXML_Response">
      <wsdl:part name="AddressClass" type="stns1:Address"/>
   </wsdl:message>
   <wsdl:message name="URLPortType_getXMLAddress2_Request"/>
   <wsdl:message name="URLPortType_getXMLAddress2_Response">
      <wsdl:part name="address2Example1" type="stns1:Address2Example1"/>
      <wsdl:part name="address2Example2" type="stns1:Address2Example2"/>
   </wsdl:message>
   <wsdl:portType name="URLPortType">
      <wsdl:operation name="staticGet">
         <wsdl:input message="tns:URLPortType_staticGet_Request"/>
         <wsdl:output message="tns:URLPortType_staticGet_Response"/>
      </wsdl:operation>
      <wsdl:operation name="staticPost">
         <wsdl:input message="tns:URLPortType_staticPost_Request"/>
         <wsdl:output message="tns:URLPortType_staticPost_Response"/>
      </wsdl:operation>
      <wsdl:operation name="fullDynamicGET">
         <wsdl:documentation>This operation just illustrates how use the URL adapter with a statically given URL.</wsdl:documentation>
         <wsdl:input message="tns:URLPortType_fullDynamicGET_Request"/>
         <wsdl:output message="tns:URLPortType_fullDynamicGET_Response"/>
      </wsdl:operation>
      <wsdl:operation name="postXMLFile">
         <wsdl:documentation>This operation just illustrates how use the URL adapter with a statically given URL.</wsdl:documentation>
         <wsdl:input message="tns:URLPortType_postXMLFile_Request"/>
         <wsdl:output message="tns:URLPortType_postXMLFile_Response"/>
      </wsdl:operation>
      <wsdl:operation name="dynamicReadFile">
         <wsdl:documentation>This operation just illustrates how use the URL adapter with a dynamic URL.</wsdl:documentation>
         <wsdl:input message="tns:URLPortType_dynamicReadFile_Request"/>
         <wsdl:output message="tns:URLPortType_dynamicReadFile_Response"/>
      </wsdl:operation>
      <wsdl:operation name="dynamicWriteFile">
         <wsdl:documentation>This operation just illustrates how use the URL adapter with a dynamic URL.</wsdl:documentation>
         <wsdl:input message="tns:URLPortType_dynamicWriteFile_Request"/>
         <wsdl:output message="tns:URLPortType_dynamicWriteFile_Response"/>
      </wsdl:operation>
      <wsdl:operation name="getXML">
         <wsdl:input message="tns:URLPortType_getXML_Request"/>
         <wsdl:output message="tns:URLPortType_getXML_Response"/>
      </wsdl:operation>
      <wsdl:operation name="getXMLAddress2">
         <wsdl:documentation>This operation illustrates how to read XML data.</wsdl:documentation>
         <wsdl:input message="tns:URLPortType_getXMLAddress2_Request"/>
         <wsdl:output message="tns:URLPortType_getXMLAddress2_Response"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="URLPortType_SOAPBinding" type="tns:URLPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="staticGet">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="staticPost">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="fullDynamicGET">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="postXMLFile">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="dynamicReadFile">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="dynamicWriteFile">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getXML">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getXMLAddress2">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Services.URLService.URLPortType.URLPortType"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="URLService">
      <wsdl:port binding="tns:URLPortType_SOAPBinding" name="URLPortType">
         <soap:address location="http://localhost:12144/URLService/URLPortType"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>